* {
  box-sizing: border-box;
  margin: 20;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #202124; 
  color: #fff; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1, h2, h3 {
  font-weight: 700;
}

.Main {
  width: 100%;
  max-width: 1200px;
  margin: 20px;
}

.Rockets {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.Rocket-item a {
  text-decoration: none; 
  color: #ffffff; 
  transition: color 0.3s ease; 
}

.Rocket-card {
  background-color: #2b2f33;
  border-radius: 15px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Rocket-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); 
}

.Rocket-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;

  transition: transform 0.3s ease;
}

.Rocket-card h2 {
  font-size: 1.5rem;
  color: #005288;
  margin-top: 10px;
}

.Rockets-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Rockets-card {
  background-color: #2b2f33;
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.Rockets-card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.Rockets-card img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 20px;
}

.Rockets-card h3 {
  color: #005288  ;
  margin: 10px 0;
}

.Rockets-card h3 span {
  color: #fff; 
  font-weight: bold;
}


@media (max-width: 768px) {
  .Rockets {
      grid-template-columns: 1fr;
  }

  .Rockets-card {
      width: 100%;
  }
}

/* header */
.Header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #1b1e22; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 80%;
  top: 0;
  z-index: 1000;
}

.Header-logo img {
  width: 150px;
  transition: transform 0.3s ease;
}

.Header-logo img:hover {
  transform: scale(1.1);
}

.Header-nav a {
  color:  #005288;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 20px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  
}

.Header-nav a:hover {
  border-bottom: 2px solid  #005288; 
  color: #fff; 
}